@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Courgette|Jim+Nightshade|Permanent+Marker|Ranga|Righteous|VT323');

html {
	
}
body {
	background-color: #FAF75A;
	font-family: 'Permanent Marker';
	font-size: 20px;
	color: #0A0A00;
	margin: 0 auto;
	width: 1000px;
}

header {
	background-color: #0A0A00;
	color: white;
	padding: 20px;
}		

main {	
	font-family: 'Permanent Marker';
	margin-left: 40px;
	margin-right: 40px;
}		

a {
	color: #F032D6;
}

footer {
	background-color: #0251FA;
	color: black;
	padding:  20px 40px;
}	
.homepic{
	width: 500px;
	height: 500px;
	margin-left: 230px;
}
/*end of home page----*/

/*bullies page-------------*/

body {
	color: #2F4F4F;
}

.container {
	height: 100vh;
}

.boy {
	background-color: #7FFFD4;
	float: left;
	width: 30%;
	height: 120vh;
	border-right: 3px black solid;
	text-align: center;
}
.stop {
	background-color: #FA8072;
	float: left;
	width: 30%;
	height: 120vh;
	margin: auto;
	text-align: center;
}

.pic img {
	width:100%;
    height: 85%;
}

.pic {
    width: 33%;
    float: left;
}

/* end of bullies page-------------- */

/*cyber-bullies---------*/
    
.definition {
    width: 26%;
    float: left;
    background-color: #DC143C;
    
}
.behavior {
    width: 26%;
    float: left;
    background-color: #5F9EA0;
}
.over {
    width: 26%;
    float: left;
    background-color: #D2691E;
}
.empty {
    clear: both;
}

.boy-cb {
	background-color: #7FFFD4;
	width: 50%;
    margin: auto;
	height: 100vh;
	border-right: 3px black solid;
	text-align: center;
}

.boy-cb img {
    width: 100%;
    margin-left: 0px;
}

.definition, .behavior, .over {
    padding: 2%;
}

.texts {
    height: 99%;
}




















